.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Customized
.github/
.vscode/
coverage/
node_modules/*/*.md
out/**/*.d.ts
out/**/*.js.map
out/*.d.ts
out/*.js.map
src/
.eslintrc.json
.gitignore
jest.config.js
